<!DOCTYPE html>
<html lang="en">
<%- include('partials/head')%>
<%- include('partials/header')%>

<!-- Imagen principal de Product Detail -->

<div class="container ">
    <!-- imagen del detalle -->
    <div class="row detailBackground">
        <div class="col-10 col-lg-8 pl-0">
            <img class="img-fluid" src="/images/carousel/starwars-battlefront2.jpg" alt="Game img">
        </div>
        <!-- Titulo y descripcion del juego -->
        <div class="col-4">
            <div class="col mt-1">
                <h5><strong> <%= game.name  %>  </strong></h5>
                <p class="gameDescription"> <%= game.detail %>  </p>
            </div>
            <div class="col">
                <p>Genre: <%=  game.genre_id.name %>   <br>
                Platform:  <i class="fab fa-windows"></i>
                </p>
                <button type="submit" class="btn btnColor">Buy Now - $ <%= game.price %>  </button>            
            </div>
            
        </div>
        <div class="col-10 col-lg-8 pl-0">
            box of images
        </div>
    </div>
    
    <!-- Precio, plataforma y genero -->
</div>



<%- include('partials/footer')%>