<!DOCTYPE html>
<html lang="en">
<%- include('partials/head')%>
<%- include('partials/header2')%>

<!-- Imagen principal de Product Detail -->

<div class="container ">
    <!-- imagen del detalle -->
    <div class="row detailBackground">
        <div class="col-12 col-lg-7 pl-md-0">
            <img class="img-fluid" src="/images/productImg/<%= game.gameImg %>" alt="Game img">
        </div>
        <!-- Titulo y descripcion del juego -->
        <div class="col-12 col-lg-5">
            <div class="col mt-1">
                <h5><strong> <%= game.name  %>  </strong> - <%= game.expansion %> </h5>
                <p class="gameDescription text-justify"> <%= game.detail %>  </p>
            </div>
            <div class="col-12">
                <p>Genre: <%=  game.genre.name %> </p>
                <a href="/"><button class="btn btnColor mr-2">
                    <% if (game.price == 0) { %>
                        Download
                    <% } else { %>
                        Buy Now - $ <%= game.price %> 
                    <% } %> 
                 </button></a>
            </div>
            
        </div>
    </div>
    
</div>



<%- include('partials/footer')%>