<!DOCTYPE html>
<html lang="en">
<%- include('partials/head')%>

<%- include('partials/header2')%>


<!-- Top Section -->
<div class="container p-1">
    <div class="row pt-2 fondo mb-2">
        <!-- carrousel Section -->
        <div class="col-12 col-lg-9  mb-2">
            <h3 class="text-align-center">Novedades</h3>
            <div class="row">
                <!-- Carrousel IMG -->
                <div class="col-12">
                    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                            <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
                            <li data-target="#carouselExampleCaptions" data-slide-to="3"></li>
                        </ol>
                        <div class="carousel-inner">
                            <!-- Carousel Items -->
                            <div class="carousel-item active">
                               <a href="/products/detail/34"><img src="/images/productImg/game_img_1585808471447.jpg" class="d-block w-100" alt="Image 1"></a>
                                
                            </div>
                            
                            <div class="carousel-item">
                                <a href="/products/detail/33"><img src="/images/productImg/game_img_1585808360584.jpg" class="d-block w-100" alt="image 2"></a>
                                
                            </div>
                            <div class="carousel-item">
                                <a href="/products/detail/32"><img src="/images/productImg/game_img_1585808172698.jpg" class="d-block w-100" alt="image 3"></a>
                                
                            </div>
                            <div class="carousel-item">
                                <a href="/products/detail/12"><img src="/images/productImg/game_img_1585784665725.jpg" class="d-block w-100" alt="image 4"></a>
                                
                            </div>
                        </div>
                        <!-- End of Carousel items -->
                        <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>                        
                    </div>
                </div>             
            </div>
            <br>
            <br>
            
        </div>
        
        
        
        <!-- Lista lateral derecha -->
        <div class="col-12 col-lg-3 ">
            <h3 class="genreText">Free To Play</h3>
            <div class="row ">
                <div class="col-12">
                    <div class="row justify-content-center">
                        <!-- caja individual -->
                        <div class="col-10 col-sm-5 col-md-3 col-lg-10 news-section hvr-underline-from-center ">
                            <a href="/products/detail/27"><img class="img-fluid" src="/../../images/productImg/game_img_1585807728875.jpg" alt="Game IMG">
                             <h6>DOTA 2</h6> </a>
                        </div><br>
                        
                        <div class="col-10 col-sm-5 col-md-3 col-lg-10 news-section hvr-underline-from-center">
                            <a href="/products/detail/16"><img class="img-fluid" src="../images/productImg/game_img_1585785302767.jpg" alt="Game IMG">
                             <h6>Ori & the Blind Forest</h6> </a>
                        </div><br>
                        
                        <div class="col-10 col-sm-5 col-md-3 col-lg-10 news-section hvr-underline-from-center">
                            <a href="/products/detail/35"><img class="img-fluid" src="../images/productImg/game_img_1585808531138.jpg" alt="Game IMG">
                             <h6>NFS Underground 2</h6> </a>
                        </div><br>
                    </div>
                </div>
            </div>
        </div>
        
    </div>

    <!-- Seccion de genero -->
    
    <div class="row justify-content-center ddBtn genreText mt-2 p-2">
        <div class="col-12"><h3>Busca por Genero</h3></div>
        <!-- cubos individuales -->
        <% genres.forEach(oneGenre => { %>
            <div class="col-10 col-sm-6 col-md-4 col-lg-2 mb-2 hvr-underline-from-center genreText "><a href="/products/genre/<%= oneGenre.id %> "><%= oneGenre.name %> </a></div>
        <% }) %> 
        
    </div>

</div>

<br>


<%- include('partials/footer')%>

