<!DOCTYPE html>
<html lang="en">
<%- include('partials/head')%>
<%- include('partials/header2')%>

<div class="container">
	<div class="row justify-content-center mt-3">
		<div class="col-10 col-md-8 col-lg-6">

			<div class="col">				
				<h3 class="textAlign">New game</h3>
			</div>
			
			<form action="/products/newProduct" enctype="multipart/form-data" method="POST">
				<!-- Nombre de juego -->
				<div class="form-group">
					<label for="Nombre">Nombre</label>
					<input type="text" class="form-control" placeholder="..." name="name" id="Nombre">
				</div>

				<!-- Nombre de version/expansion -->

				<div class="form-group">
					<label for="Version/Expansion">Version/Expansion</label>
					<input type="text" class="form-control" placeholder="..." name="expansion" id="Version/Expansion">
				</div>
				
				<!-- Descripcion del juego -->

				<div class="form-group">
					<label for="Detail">Detail</label>
					<textarea class="form-control" id="Detail" name="detail" rows="3"></textarea>
				  </div>
				
				<!-- Price -->
				<div class="form-group">
					<label for="Precio">Precio</label>
					<input type="number" class="form-control" placeholder="..." name="price" id="Precio">	
				</div>				
				
				<!-- Game image -->
				<div class="form-group">
					<label for="gameImg">Game Image</label>
					<input class="form-control-file" type="file" id="gameImg" name="gameImg">
				</div>
			
				
				<!-- Game Category -->
				<div class="input-group mb-3">
					<div class="input-group-prepend">
						<label class="input-group-text" for="gameCategory">Category</label>
					</div>
					<select class="custom-select" id="gameCategory" name="genre_id">
						<option selected>...</option>
						<% genres.forEach(oneGenre => { %>
							<option value="<%= oneGenre.id %>">
								<%= oneGenre.name %>
							</option>
						<% }) %>
					</select>
				</div>
				
				<button type="submit" class="btn btnColor">Guardar</button>
			</form>
			
		</div>
	</div>
</div>

<%- include('partials/footer')%>
