<!DOCTYPE html>
<html lang="en">
<%- include('partials/head')%>
<%- include('partials/header')%>

<div class="container-fluid">
    <div class="row filterRow justify-content-around">
        <div class="col-3">
            <!-- Listado de Juegos -->
            <h3>Listado de juegos</h3>
            <div class="row gamesRow mt-3">
                <% products.forEach(product => { %>
                    <div class="col-10 cubes p-2">
                        <h5><strong><%= product.Nombre %></strong></h5><br>
                        <b> <img class="img-fluid" src="/../../images/productImg/madden.jpg" alt="game-image"> </b> 
                        <b> $<%= product.Precio %> </b><br>
                        <form class="mt-3" action="/products/borrar/<%= product.id %>?_method=DELETE" method="POST">
                            <button type="submit">BORRAR</button>
                        </form>
                    </div>
                    <% }) %> 
            </div>        
        </div>    
    </div>
</div>            
<%- include('partials/footer')%>