<!DOCTYPE html>
<html lang="en">
<%- include('partials/head')%>
<%- include('partials/header')%>

<div class="container">
    <div class="row justify-content-center">
        
        <!-- Left Navigation menu -->
        <div class="col-md-3 d-none d-md-block">
            <input type="search">
            <hr>
            <hr>
            
            <!-- Listado de categorias -->
            <h4>Filter by:</h4>
            
            <h3>Categorias</h3>
            <ul>
                <li>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="Action">
                        <label class="form-check-label" for="Action">Action</label>
                    </div>
                </li>
                
                <li>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="Sports">
                        <label class="form-check-label" for="Sports">Sports</label>
                    </div>
                </li>
                
                <li>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="Roleplay">
                        <label class="form-check-label" for="Roleplay">Roleplay</label>
                    </div>
                </li>
                
                <li>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="FPS">
                        <label class="form-check-label" for="FPS">FPS</label>
                    </div>
                </li>
                
                <li>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="Strategy">
                        <label class="form-check-label" for="Strategy">Strategy</label>
                    </div>
                </li>
            </ul>
            
            <!-- Listado de Plataformas -->
            <h3>Plataforma:</h3>
            <ul>
                <li>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">PS4</label>
                    </div>
                </li>
                
                <li>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">XBOX</label>
                    </div>
                </li>
                
                <li>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">PC</label>
                    </div>
                </li>
            </ul>
            
        </div>
        
        <!-- Listado de Juegos -->
        <div class="col-8">
            <div class="row gameCubes">

                <% products.forEach(product => { %>
                    <div class="col-5 col-md-3 cubes">
                        <h2> <%= product.id %> </h2>
                        <b> <%= product.Nombre %> </b><br>
                        <b> <%= product.creador %> </b>
                        <form action="/products/borrar/<%= product.id %>?_method=DELETE" method="POST">
                            <button type="submit">BORRAR</button>
                        </form>
                    <% }) %>
                    
                </div>
                
            </div>    
            
        </div>
        
        
    </div>
</div>

<%- include('partials/footer')%>