<!DOCTYPE html>
<html lang="en">
<%- include('partials/head')%>
<%- include('partials/header')%>

<div class="container">
    <div class="row">
        <div class="col-3">
                 <img src="../public/images/avatars/<%=user.avatar%>" class="img-fluid" alt="Profile-IMG">
            <h2>Welcome: <%=`${user.userName}`%> </h2>
        </div>
    </div>
</div>

<%- include('partials/footer')%>